.icon {
  width: 30px;
  height: 30px;
  margin: 5px 5px 5px 0;
}

.nav-bg {
  background-color: #20a4f3;
  border-top: solid 2px #f9c80e;
}

.nav-title {
  color: #f9c80e;
  font-weight: 700;
}

.nav-name {
  color: #ffffff;
  font-weight: 0;
  

}

.nav-bt:hover {
  color: #20a4f3;
}

.nav-bt:active {
  color: #20a4f3;
}

.item-color {
  color: #20a4f3;
}

.bg-color {
  border-top: 1px solid #20a4f3;
}


.name {
  color: #ffffff;
}

.my-events {
  border-left-width: 5px;
}

@media screen and (max-width: 600px) {
  .alert-view {
    max-width: 50%;
  }
}