# ============ #
# OS generated #
# ============ #
.DS_Store*
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
[Tt]humbs.db
[Dd]esktop.ini
Corridor/Library/ShaderCache/
Corridor/Library/metadata/

.sass-cache

__pycache__/
service/mc1/db.sqlite3
service/mc2/db.sqlite3
service/mc3/db.sqlite3
