body{
	background:#fff;
	color:#191919;
	font:14px/22px 'Roboto Condensed', sans-serif;
}

/* Standard Styles Starts */
a:hover{
	color:#191919;
}
a:focus{
	outline:none;
}
h1, h2, h3, h4, h5, h6{
	font-family:'Roboto Condensed', sans-serif;
	color: #252a2f;
}
h1{
	font-size:38px;
}
h2{
	font-size:32px;
}
h3{
	font-size:26px;
}
h4{
	font-size:20px;
}
h5{
	font-size:18px;
}
h6{
	font-size:14px;
}
.main-heading{
	font-size:30px;
}
.main-heading span{
	font-size:18px;
	color:#878a8c;
}
.main-heading2{
	font-size:24px;
}
.main-heading, 
.main-heading2, 
.sub-heading{
	text-transform:uppercase;
}
.sub-heading{
	font-size:24px;
	padding:10px 0;
}

hr{
	border-color:#8c8f92;
}

.font1 {
	font-family: 'Roboto Condensed', sans-serif;	
}
.font2, 
.page-banner h1, 
.product-head {
	font-family: 'Romanesco', cursive;	
}

/* Form & Buttons Styles Starts */

.btn-black:hover, 
.btn-black:focus,
.btn-black:active,
.btn-black.active, 
.btn-main {
	background-color: #20a4f3;
}
.btn-black, 
.btn-black:hover, 
.btn-black:focus,
.btn-black:active,
.btn-black.active, 
.btn-main, 
.btn-main:hover, 
.btn-main:focus,
.btn-main:active,
.btn-main.active {
	color:#fff;
}

/* Product Page Styles Starts */
	
	.product-info{
		padding-top:10px;
	}
		.product-info .images-block{
		}
		.product-info .images-block .thumbnail{
			padding:10px;
			-webkit-border-radius:0;
			   -moz-border-radius:0;
					border-radius:0;
		}
		.product-info.full .images-block .list-inline{
			margin-left:-5px;
		}
		.product-info.full .images-block .list-inline li{
			padding-left:5px;
			padding-right:5px;
		}
		.product-info .images-block .list-inline{
			margin-left:-2px;
		}
		.product-info .images-block .list-inline li{
			padding-left:2px;
			padding-right:20px;
		}
		.product-info .images-block .list-inline .thumbnail{
			padding:5px;
		}
		.product-info .product-details{

            margin-left: 425px;
		}
		.product-info .product-details h2{
            margin-top:0;
			font-size:24px;
		}
		.product-info .product-details h3{
			font-size:22px;
		}
		.product-info .product-details h2, .product-info .product-details h3{
			text-transform:uppercase;
		}
		.product-info .product-details .manufacturer{
			color:#808080;
			text-transform:uppercase;
		}
			.product-info .product-details .manufacturer span{
				min-width:130px;
				display:inline-block;
				color:#2f353b;
			}
		.product-info .product-details .options{
		}
			.product-info .product-details .options h3{
				margin-bottom:20px;
			}
			.product-info .product-details .options h6{
				font-weight:700;
			}
			.product-info .product-details .cart-button{
			}
				.product-info .product-details .cart-button .btn{
					-webkit-border-radius:3px;
					-moz-border-radius:3px;
							border-radius:3px;
				}
				.product-info .product-details .btn-wishlist, 
				.product-info .product-details .btn-compare{
					margin-left:5px;
					color:#686868;
					font-size:14px;
					background:#fff;
					border:1px solid #e6e0e0;
				}
				.product-info .product-details .btn-wishlist:hover, 
				.product-info .product-details .btn-compare:hover {
					color:#20a4f3;
				}
				.product-info .product-details .btn-cart{
					font-size:14px;
					color:#fff;
					font-weight:bold;
					text-transform:uppercase;
					background:#20a4f3;
				}
				.product-info .product-details .btn-cart .fa {
					margin-right:5px;
				}
				.product-info .product-details .btn-cart:hover{
					background:#f9c80e;
				}
	.product-info-box{
		padding-top:10px;
	}
	.product-info-box + .product-info-box{
		padding-top:30px;
	}
		.product-info-box .heading{
			padding:13px 20px;
			font-size:18px;
			color:#20a4f3;
			text-transform:uppercase;
			background:#fff;
			border-top:1px solid #e8e8e8;
			border-right:1px solid #e8e8e8;
			border-bottom:4px solid #20a4f3;
			border-left:1px solid #e8e8e8;
		}
		.product-info-box .content{
			color:#212121;
			font-size:13px;
		}
		
