<body>
  <br>
  <div class="Box firstBox">
    <div>
      <img src={{player.photo_url}} alt="Avatar" style="width:200px">
    </div>
    <div>
      <h1 class="">{{player.username}}</h1> <!-- colocar aqui nome-->
    </div>
    <div class="">
      <!-- colocar aqui matricula -->
      {{player.university_id}}
    </div>
  </div>

  <div class="Box secondBox">

    <!-- Level div -->
    <div class="levelBox">
      <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar"
          aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
          <!-- colocar aqui valor para alterar posição da barra -->
          50%
          <!-- colocar aqui valor da porcentagem da barra -->
        </div>
      </div>
      <h4>
        Level 1
      </h4>

    </div>
    <br>

    <!-- Points Board and Reward div -->
    <div>

      <!-- Reward div -->
      <div style="text-align: center;" class="pointsAndRewardBox pointsBorder">
        <h2><span class="badge badge-primary">{{player.points}}</span></h2>
        <h4>
          Pontos
        </h4>
      </div>

      <!-- Points div -->
      <div style="text-align: center;" class="pointsAndRewardBox rewardBorder">
        <h2><span class="badge badge-primary">2</span></h2>
        <h4>
          Premios
        </h4>
      </div>
    </div>

    <button type="button"  class="btn btn-light position-absolute btnImage" data-toggle="modal" data-target="#fullImageModal">
      Editar Dados
    </button>

  </div>

  <body>
    <br>