<body>
  <br>
  <div class="Box firstBox">
    <div>
      <img src="{{ photo_url }}" alt="Avatar" style="width:200px">
    </div>
    <div>
      <h1 class="">{{username}}</h1> <!-- colocar aqui nome-->
    </div>
    <div class="">
      <!-- colocar aqui matricula -->
      {{university_id}}
    </div>
    <h4>
      Level 1
    </h4>

  </div>
  <br>

  <!-- Points Board and Reward div -->
  <div>

    <!-- Reward div -->
    <div style="text-align: center;" class="pointsAndRewardBox pointsBorder">
      <h2><span class="badge badge-primary">163</span></h2>
      <h4>
        Pontos
      </h4>
    </div>
    <br>

    <!-- Points Board and Reward div -->
    <div>

      <!-- Reward div -->
      <div style="text-align: center;" class="pointsAndRewardBox pointsBorder">
        <h2><span class="badge badge-primary">{{points}}</span></h2>
        <h4>
          Pontos
        </h4>
      </div>

    <!-- Points div -->
    <div style="text-align: center;" class="pointsAndRewardBox rewardBorder">
      <h2><span class="badge badge-primary">2</span></h2>
      <h4>
        Premios
      </h4>
    </div>
  </div>

    <button type="button"  class="btn btn-light position-absolute btnImage" data-toggle="modal" data-target="#fullImageModal"
    [routerLink]="['/perfil/editar', id]">
      Editar Dados
    </button>

</div>

<br>