<!-- CAROUSEL -->
<div class="all">
  <div class="top">
    <div class="carousel-div">
      <carousel>
        <slide class="slide-height" *ngFor="let mainEvent of mainEvents">
          <div class="bg-slide" [ngStyle]="{ 'background-image': 'url(' + mainEvent.url_image + ')'}"></div>
        </slide>
      </carousel>
    </div>
  </div>
  <div class="container">
    <form [formGroup]="searchForm">
      <input formControlName="search" class="form-control" placeholder="Pesquisar...">
    </form>
    <div class="row">
      <div *ngFor="let event of events" class="col-sm-6 col-lg-4">
        <div class="card">
          <a [routerLink]="['/evento/', event.id]">
          <img class="card-img-top" src={{event.url_image}} alt="Card image cap">
          <div class="card-body">
            <a class="btn btn-primary" style="color:white;"><strong>{{event.date | date: "dd"}} </strong></a>
            <a class="btn btn-warning ml-2" style="color:white; text-transform:uppercase;"><strong>{{event.date | date: "MMMM"}}</strong></a>
            <a class="btn btn-primary ml-2" style="color:white; text-transform:uppercase;"><strong>{{event.date | date: "HH:mm"}}</strong></a>
            <h6 class="card-text overflow-auto mt-2">&nbsp;<i class="fas fa-map-marker-alt iconColor"></i>&nbsp;{{event.place}}</h6>
            <hr>
            <h4 class="card-title">{{event.title}}</h4>
            <p class="card-text overflow-auto">{{event.description}}</p>
          </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">