<body>
  <br><br>

  <div class="formbox title-formbox">
    <h1>
      CADASTRO
    </h1>
    <br>
  </div>

  <div class="formbox body-formbox">
    <div class="form-group">
      <form [formGroup]="playerForm">

        <label><strong>Nome:</strong></label>
        <input formControlName="name" class="form-control">
        <br>

        <label><strong>Sobrenome:</strong></label>
        <input formControlName="lastname" class="form-control">
        <br>

        <label><strong>Matricula:</strong></label>
        <input formControlName="university_id" class="form-control">
        <br>

        <label><strong>Foto para perfil:</strong></label>
        <input type="file" (change)="detectFiles($event)" accept=".png,.jpg" class="form-control-file" />
        <br>

        <button type="button" class="btn btn-success btn-lg btn-block" (click)="registerPlayer()">Finalizar
          Cadastro</button>
      </form>
    </div>
  </div>

  <body>