<body>
  <br><br>
  <div class="formbox title-formbox">
    <h3>
      Editar Usuário
    </h3>
    <br>
  </div>
  <div class="formbox body-formbox">
    <div class="form-group">
      <form [formGroup]="playerForm" class="formPlayer">
        <label><strong>Nome:</strong></label>
        <input formControlName="username" class="form-control">
        <br>
        <label><strong>Foto:</strong></label>
        <input formControlName="university_id" class="form-control">
        <br>
        <button *ngIf="!clicked" type="button" class="btn btn-color btn-lg btn-block" (click)="updatePlayer()">Salvar</button>
        <div *ngIf="clicked" class="loader"></div>
      </form>
    </div>
  </div>
<body>
