<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">


<ul>
    <li><a class="active" href="/home">Home</a></li>
    <li><a href="">Teste</a></li>
    <li><a href="#t">Link2</a></li>
    <li><a href="#">Link3</a></li>
    <li text-align:left><a href="#">"player_name"</a></li>
  </ul>

  


<router-outlet></router-outlet>

<footer class="foot">
    <p style=" text-align: center; color:wheat">Posted by: Goretti</p>
    <p style=" text-align: center; color:wheat">Contact information: <a href="mailto:someone@example.com">
    Email_Aqui</a>.</p>
  </footer> 