.bg-modal {
  background-color: #20a4f3;
  border-radius: 3px;
}

.bg-bt {
  background-color: #171b17;
  min-width: 30%;
  border-width: 0;
}

.bt-right {
  margin-left: 15%;
  background-color: #006400;
}

.bg-bt:hover {
  border: solid 0.5px #f0f0f0;
}

.content-modal {
  width: 100%;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #f0f0f0;
}

.border-modal {
  border-bottom: 1px solid #f9c80e;
  color: #f9c80e;
}

.input-st {
  width: 90%;
}

.close-bt {
  color: #f9c80e;
}

.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #006400;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
  /* Firefox */
  margin-left: -moz-calc(50% - 25px);
  /* WebKit */
  margin-left: -webkit-calc(50% - 25px);
  /* Opera */
  margin-left: -o-calc(50% - 25px);
  /* Standard */
  margin-left: calc(50% - 25px);
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}