<!DOCTYPE html>
<html>

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="footer, address, phone, icons" />

	<title>Footer With Address And Phones</title>

</head>

	<body>


		<!-- The content of your page would go here. -->

		<footer class="footer-distributed">

			<div class="footer-left">

				<h3>Pret<span>Event</span></h3>

				<p class="footer-links">
					<a href="#">Repositório</a>
					·
					<a href="#">Me cadastrar</a>
					·
					<a href="#">Sobre</a>
				</p>
			</div>

			<div class="footer-center">

				<div>
					<i class="fa fa-envelope"></i>
					<p><a href="mailto:support@company.com">pretevent@gmail.com</a></p>
				</div>

			</div>

			<div class="footer-right">

				<p class="footer-company-about">
					<span>Sobre nós</span>
					PretEvent é um aplicativo web de gamificação de agenda de eventos.
				</p>

				<div class="footer-icons">

				</div>

			</div>

		</footer>

	</body>

</html>