<div class="all">
  <div class="top">
    <div class="carousel-div">
      <carousel>
        <slide class="slide-height" *ngFor="let event of mainEvents">
          <div class="bg-slide" [ngStyle]="{ 'background-image': 'url(' + event.url_image + ')'}"></div>
        </slide>
      </carousel>
    </div>
  </div>
  <div class="content">
    <div class="header">
      <img src="../../assets/imgs/home/maps.png" class="map" />
      <p class="title">Distrito Federal</p>
    </div>
    <div class="row" *ngFor="let i of rows">
      <div class="column" *ngFor="let j of columns">
        <div class="card" *ngIf="events[j+(i*4)] != null">
          <div class="banner" [ngStyle]="{ 'background-image': 'url(' + events[j+(i*4)].url_image + ')'}">
          </div>
          <div class="data">
            <div class="date"><span class="day">{{ events[j+(i*4)].formated.day }}</span><br><span
                class="month">{{ events[j+(i*4)].formated.month }}</span></div>
            <div class="details">
              <span class="name">{{ events[j+(i*4)].title }}</span>
              <br>
              <span class="description">{{ events[j+(i*4)].description }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>