<div>


  
<div  class="jumbotron text-center">
  <h2 style="font-size:400%">Welcome to Pret-Event!</h2>
  <p style="font-size:200%">A pagina de eventos gamificada.</p> 
</div> 
<div class="slide">
  <carousel>
    <slide>
      <img class="center" src="/assets/photo_2019-04-16_18-51-01.jpg" alt="first slide" style="display: block; width: 40;">
      <div class="carousel-caption d-none d-md-block">
        <h3 style="color:black">First slide label</h3>
        <p style="color:black">slide 1</p>
      </div>
    </slide>
    <slide>
      <img class="center" src="/assets/photo_2019-04-16_18-52-41.jpg" alt="second slide" style="display: block; width: 40;">
      <div class="carousel-caption d-none d-md-block">
        <h3 style="color:black">Second slide label</h3>
        <p style="color:black">slide2 </p>
      </div>
    </slide>
    <slide>
      <img class="center" src="/assets/photo_2019-04-16_18-52-44.jpg" alt="third slide" style="display: block; width: 40;">
      <div class="carousel-caption d-none d-md-block">
        <h3 style="color:black">Third slide label</h3>
        <p style="color:black">Slide3.</p>
      </div>
    </slide>
  </carousel>
</div>
<p style="font-size:50px;"><br>
  Principais eventos:


</p>


</div>

<ul id="UL_1">
    <div id="DIV_2">
      
    </div>
    <li id="LI_5">
      <a href="/roda-de-samba-do-grupo-bom-gosto-19-de-abril" id="A_6"></a>
      <figure id="FIGURE_7">
        <img src="/assets/photo_2019-04-16_18-51-01.jpg" id="IMG_8" alt='' />
      </figure>
      <ul id="UL_9">
        <li id="LI_10">
          <div id="DIV_11">
            <label id="LABEL_12">
              19
            </label><br id="BR_13" /> 
            <label id="LABEL_14">
              Abr
            </label>
          </div>
        </li>
        <li id="LI_15">
          <p id="P_16">
            RODA DE SAMBA DO GRUPO BOM GOSTO
          </p>
          <div id="DIV_17">
            <div id="DIV_18">
              Brasília - DF
            </div>
            <div id="DIV_19">
            </div>
            <div id="DIV_20">
              Arena Brazolia
            </div>
          </div>
        </li>
      </ul>
    </li>
    <li id="LI_21">
      <a href="/brasilia-popular-orquestra-19-de-abril" id="A_22"></a>
      <figure id="FIGURE_23">
        <img src="/assets/photo_2019-04-16_18-51-01.jpg" id="IMG_24" alt='' />
      </figure>
      <ul id="UL_25">
        <li id="LI_26">
          <div id="DIV_27">
            <label id="LABEL_28">
              19
            </label><br id="BR_29" /> 
            <label id="LABEL_30">
              Abr
            </label>
          </div>
        </li>
        <li id="LI_31">
          <p id="P_32">
            BRASÍLIA POPULAR ORQUESTRA
          </p>
          <div id="DIV_33">
            <div id="DIV_34">
              Brasília - DF
            </div>
            <div id="DIV_35">
            </div>
            <div id="DIV_36">
              CLUBE DO CHORO BRASÍLIA
            </div>
          </div>
        </li>
      </ul>
    </li>
    <li id="LI_37">
      <a href="/welcome-to-brasilia-festa-perrier-jouet-19-de-abril" id="A_38"></a>
      <figure id="FIGURE_39">
        <img src="/assets/photo_2019-04-16_18-51-01.jpg" id="IMG_40" alt='' />
      </figure>
      <ul id="UL_41">
        <li id="LI_42">
          <div id="DIV_43">
            <label id="LABEL_44">
              19
            </label><br id="BR_45" /> 
            <label id="LABEL_46">
              Abr
            </label>
          </div>
        </li>
        <li id="LI_47">
          <p id="P_48">
            WELCOME TO BRASILIA - FESTA PERRIER JOUET
          </p>
          <div id="DIV_49">
            <div id="DIV_50">
              Brasília - DF
            </div>
            <div id="DIV_51">
            </div>
            <div id="DIV_52">
              PINK ELEPHANT BRASILIA
            </div>
          </div>
        </li>
      </ul>
    </li>
    <li id="LI_53">
      <a href="/pascoa-da-patrulha-20-de-abril" id="A_54"></a>
      <figure id="FIGURE_55">
        <img src="/assets/photo_2019-04-16_18-51-01.jpg" id="IMG_56" alt='' />
      </figure>
      <ul id="UL_57">
        <li id="LI_58">
          <div id="DIV_59">
            <label id="LABEL_60">
              20
            </label><br id="BR_61" /> 
            <label id="LABEL_62">
              Abr
            </label>
          </div>
        </li>
        <li id="LI_63">
          <p id="P_64">
            PÁSCOA DA PATRULHA
          </p>
          <div id="DIV_65">
            <div id="DIV_66">
              Aguas Claras - DF
            </div>
            <div id="DIV_67">
            </div>
            <div id="DIV_68">
              ESPACO CULTURAL CAESB  ÁGUAS CLARAS
            </div>
          </div>
        </li>
      </ul>
    </li>
    <li id="LI_37">
        <a href="/welcome-to-brasilia-festa-perrier-jouet-19-de-abril" id="A_38"></a>
        <figure id="FIGURE_39">
          <img src="/assets/photo_2019-04-16_18-51-01.jpg" id="IMG_40" alt='' />
        </figure>
        <ul id="UL_41">
          <li id="LI_42">
            <div id="DIV_43">
              <label id="LABEL_44">
                19
              </label><br id="BR_45" /> 
              <label id="LABEL_46">
                Abr
              </label>
            </div>
          </li>
          <li id="LI_47">
            <p id="P_48">
              WELCOME TO BRASILIA - FESTA PERRIER JOUET
            </p>
            <div id="DIV_49">
              <div id="DIV_50">
                Brasília - DF
              </div>
              <div id="DIV_51">
              </div>
              <div id="DIV_52">
                PINK ELEPHANT BRASILIA
              </div>
            </div>
          </li>
        </ul>
      </li>
      <li id="LI_37">
          <a href="/welcome-to-brasilia-festa-perrier-jouet-19-de-abril" id="A_38"></a>
          <figure id="FIGURE_39">
            <img src="/assets/photo_2019-04-16_18-51-01.jpg" id="IMG_40" alt='' />
          </figure>
          <ul id="UL_41">
            <li id="LI_42">
              <div id="DIV_43">
                <label id="LABEL_44">
                  19
                </label><br id="BR_45" /> 
                <label id="LABEL_46">
                  Abr
                </label>
              </div>
            </li>
            <li id="LI_47">
              <p id="P_48">
                WELCOME TO BRASILIA - FESTA PERRIER JOUET
              </p>
              <div id="DIV_49">
                <div id="DIV_50">
                  Brasília - DF
                </div>
                <div id="DIV_51">
                </div>
                <div id="DIV_52">
                  PINK ELEPHANT BRASILIA
                </div>
              </div>
            </li>
          </ul>
        </li>
   
    <div id="DIV_759">
    </div>
  </ul>