<style>
  h1 {
    background-color: rgb(0, 0, 0);
  }
 
  </style>

<h1>
  <carousel>
    <slide>
      <img class="center" src="/assets/photo_2019-04-16_18-51-01.jpg" alt="first slide" style="display: block; width: 40;">
      <div class="carousel-caption d-none d-md-block">
        <h3>First slide label</h3>
        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
      </div>
    </slide>
    <slide>
      <img class="center" src="/assets/photo_2019-04-16_18-52-41.jpg" alt="second slide" style="display: block; width: 40;">
      <div class="carousel-caption d-none d-md-block">
        <h3>Second slide label</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </slide>
    <slide>
      <img class="center" src="/assets/photo_2019-04-16_18-52-44.jpg" alt="third slide" style="display: block; width: 40;">
      <div class="carousel-caption d-none d-md-block">
        <h3>Third slide label</h3>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
      </div>
    </slide>
  </carousel></h1>