/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: Lato;
  src: local("Lato"),
    url(/assets/fonts/Lato-Regular.woff2) format('woff2'),
    url(/assets/fonts/Lato-Regular.woff) format('woff');
}

* {
  box-sizing: border-box;
  font-family: Lato;
}

body {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

input {
  border-radius: 5px;
  padding: 3px;
  border-color: transparent;
}

.button {
  border-radius: 5px;
  color: #f0f0f0;
  padding: 10px;
}

.button:hover {
  background-color: #111818;
  text-decoration: none;
  color: #f0f0f0;
  border-width: 0;
}

.button:active {
  background-color: #191818;
  color: #f0f0f0;
  border-width: 0;
}

/* sticky footer */
.myWrapper {
  min-height: 100%;
  margin-bottom: -60px; /* altura do footer */
}

.push {
  height: 60px; /* altura do footer */
}

.footer {
	height: 60px;
}
