.formbox {
    width: 70%;
    max-width: 500px;
    min-width: 255px;
    float: center;
    margin: 0 auto;
    padding: 25px;
    box-sizing: border-box;
}

.title-formbox {
    height: 75px;
    font-size: 55px;
    background: black;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    box-sizing: border-box;
    color: white;
    text-align: center;
}

.body-formbox {
    height: 500px;
    background: #ffffffc7;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    box-sizing: border-box;
}

body {
    height: 800px;
    background-color: #727272; /* For browsers that do not support gradients */
    /* background-image: linear-gradient(-90deg, #ca9898,#a3a2a5); Standard syntax (must be last) */
  }

