<body>
  <br><br>
  <div class="formbox title-formbox">
    <h3>
      Visualizar Recompensa
    </h3>
    <br>
  </div>
  <div class="formbox body-formbox">
    <div class="form-group">
      <form [formGroup]="rewardForm" class="formReward">
        <label><strong>Recompensa:</strong></label>
        <input [(ngModel)]="selected" [typeahead]="rewardsNames" class="form-control" formControlName="reward">
        <br>
        <button type="button" class="btn btn-color btn-lg btn-block" (click)="GetReward()">Ver
          Recompensa</button>
      </form>
      <div>
        <div *ngIf="clicked">
          <br>
          <div class="reward"><img width="200" heigth="200" src="{{ badge_url }}"></div>
          <br>
          <div class="reward">Título: {{ title }}</div>
          <div class="reward">Descrição: {{ description }}</div>
          <div class="reward">Pontuação: {{ points }}</div>
        </div>
      </div>
    </div>
  </div>
</body>